<!-- buttons to toggle between tabs -->
<div class="btn-box">
<button id="tab1" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Personal Projects</button>
<button id="tab2" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Group Projects</button>
<button id="tab3" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Ever Fluorescent</button>
<button id="tab4" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Artwork</button>
<button id="tab5" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Connect</button>
</div>