<div class="gallery">
    <div class="mycard">
        <%= image_tag "anna.jpg", class:"gallery-image" %>
        <h2>Let's Connect</h2>
        <p>Discord: everfluorescent</p>
        <p>Instagram: @everfluorescentofficial</p>
        <p>Email: stayfluorescent@gmail.com</p>
    </div>
</div>