<div class="gallery">
    <div class="mycard">
        <h2>Microcart</h2>
        <p class="card-text">Building a small shopping cart app that easily creates carts for small businesses.
        </p>
    </div>

    <div class="mycard">
        <h2>Kryptoknight Pin</h2>
        <%= image_tag "crpronight.jpg", class:"gallery-image" %>
        <p>Idea by: Austin Nelson</p>
        <p>Designed by: Anna Villarreal</p>
        <p>A wearable pin. Feautures the Krypoknight with his bitcoin shield slicing through a $100.</p>
    </div>
</div>