<div class="footer">
<p>© 2021 Anna Villarreal</p>
<p><a href="mailto:" class="email"> Email: stayfluorescent@gmail.com</a></p>
<p><a href="https://www.linkedin.com/in/anna-villarreal-38254b258/" class="linkedin">LinkedIn</a></p>
<p><a href="https://github.com/AnnaVi11arrea1" class="github">GitHub</a></p>
</div>